<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~60919/vader
    RewriteRule ^/~60919/vader/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~60919/vader/index.html [L]
</IfModule>
